::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
/* Firefox 18- */
::-moz-placeholder {
  color: #999;
}
/* Firefox 19+ */
:-ms-input-placeholder {
  color: #999;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: rgba(250, 255, 189,0);
}
html {
  background-color: #f1f1f1;
  font-size: 20vw;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 64px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 108px;
  }
}
html,
body {
  width: 100%;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
/* a,a:link,a:visited,a:hover,a:active{
  color: inherit;
} */
a {
  color: inherit;
}
/* 渐变 */
.yj-bg-gradient {
  background-image: -webkit-linear-gradient(90deg, #1ebafc, #1e82fc);
  background-image: -o-linear-gradient(90deg, #1ebafc, #1e82fc);
  background-image: linear-gradient(90deg, #1ebafc, #1e82fc);
}
.yj-bg-gradient .yj-btn-line-main {
  border: 1px solid #fff;
  color: #fff;
}
.yj-bg-main {
  background-color: #2f87eb;
  color: #fff;
}
.yj-bgfff {
  background-color: #fff;
}
.yj-bg-gray-light {
  background-color: #f1f1f1 !important;
}
.yj-colorfff {
  color: #fff;
}
.yj-color-red {
  color: #fb0914;
}
.yj-color-gray {
  color: #666;
}
.yj-color-gray-light {
  color: #999;
}
.yj-color-gray-dark {
  color: #333;
}
.yj-color-main {
  color: #2f87eb !important;
}
.yj-line-height-2 {
  line-height: 2em;
}
.yj-radius-small {
  border-radius: 5px;
}
.yj-none {
  display: none;
}
.yj-block {
  display: block;
}
.yj-text-center {
  text-align: center;
}
.yj-text-right {
  text-align: right;
}
.yj-text-left {
  text-align: left;
}
.yj-right {
  float: right;
}
.yj-left {
  float: left;
}
.yj-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.yj-elip-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.yj-text-small {
  font-size: 0.16rem;
}
.yj-text-big {
  font-size: 0.29333333rem;
}
.yj-padding {
  padding: 0.1rem;
}
.yj-padding-big {
  padding: 0.2rem;
}
.yj-pad-t {
  padding-top: 0.1rem;
}
.yj-pad-t-big {
  padding-top: 0.2rem;
}
.yj-pad-b {
  padding-bottom: 0.1rem;
}
.yj-pad-b-big {
  padding-bottom: 0.2rem;
}
.yj-pad-l {
  padding-left: 0.1rem;
}
.yj-pad-l-big {
  padding-left: 0.2rem;
}
.yj-pad-r {
  padding-right: 0.1rem;
}
.yj-pad-r-big {
  padding-right: 0.2rem;
}
.yj-pad-lr {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.yj-pad-lr-big {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.yj-pad-tb {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.yj-pad-tb-big {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.yj-margin {
  margin: 0.1rem;
}
.yj-margin-big {
  margin: 0.2rem;
}
.yj-mar-t {
  margin-top: 0.1rem;
}
.yj-mar-t-big {
  margin-top: 0.2rem;
}
.yj-mar-b {
  margin-bottom: 0.1rem;
}
.yj-mar-b-big {
  margin-bottom: 0.2rem;
}
.yj-mar-l {
  margin-left: 0.1rem;
}
.yj-mar-l-big {
  margin-left: 0.2rem;
}
.yj-mar-r {
  margin-right: 0.1rem;
}
.yj-mar-r-big {
  margin-right: 0.2rem;
}
.yj-mar-lr {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.yj-mar-lr-big {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.yj-mar-tb {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.yj-mar-tb-big {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.yj-mar-header {
  margin-top: 0.65rem;
}
.yj-mar-footer {
  margin-bottom: 0.7rem;
}
.yj-pad-header {
  padding-top: 0.65rem;
}
.yj-pad-footer {
  padding-bottom: 0.7rem;
}
.yj-border {
  border: 1px solid #ddd;
}
/* 边框 */
.yj-border-t {
  position: relative;
}
.yj-border-t:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}
.yj-border-b {
  position: relative;
}
.yj-border-b:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}
.yj-border-l {
  position: relative;
}
.yj-border-l:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 1px;
  height: 100%;
  background-color: #f4f4f4;
}
.yj-border-r {
  position: relative;
}
.yj-border-r:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 1px;
  height: 100%;
  background-color: #f4f4f4;
}
/* 内容盒子 */
.yj-content {
  padding-bottom: .15rem;
  overflow-y: auto;
  font-size: 0.18666667rem;
  -webkit-overflow-scrolling: touch;
}
/* 头尾css */
.yj-header,
.yj-footer {
  position: fixed;
  z-index: 998;
  left: 0;
  width: 100%;
  text-align: center;
}
.yj-header .layui-icon {
  font-size: 0.32rem;
}
.yj-footer .layui-icon {
  font-size: 0.29333333rem;
}
.yj-header {
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0.65rem;
  line-height: 0.65rem;
  font-size: 0.24rem;
  background-color: #333;
  color: #fff;
  overflow: hidden;
}
.yj-header span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-header-return,
.yj-header-meau {
  display: inline-block;
  width: 0.65rem;
}
.yj-footer {
  bottom: 0;
  /* -moz-box-shadow: 0 -2px 5px rgba(194,218,247,.75);
       -webkit-box-shadow: 0 -2px 5px rgba(194,218,247,.75); */
  box-shadow: 0 -2px 5px rgba(194, 218, 247, 0.75);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0.7rem;
  background-color: #fff;
}
.yj-footer-item {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  padding-top: .08rem;
}
.yj-footer-icon {
  width: .28rem;
  height: .28rem;
  display: inline-block;
  overflow: hidden;
  margin-bottom: .03rem;
}
.yj-footer-icon img {
  width: 100%;
}
.yj-footer .active {
  color: #2f87eb;
}
.yj-footer .active .yj-footer-icon img {
  margin-top: -0.28rem;
}
.yj-footer-middle {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-top: -0.15rem;
  padding-top: .12rem;
  border-radius: 50%;
  /* -moz-box-shadow: 0 -2px 5px rgba(194,218,247,.75);
       -webkit-box-shadow: 0 -2px 5px rgba(194,218,247,.75); */
  box-shadow: 0 -2px 5px rgba(194, 218, 247, 0.75);
  background-color: #fff;
}
.yj-footer-middle .yj-footer-icon {
  margin-bottom: 0;
}
.yj-footer-middle .yj-footer-title {
  padding-top: .1rem;
  margin: 0 -3px;
  background-color: #fff;
}
.yj-footer-title {
  font-size: 0.16rem;
}
/* 右下角 联系我们 */
.yj-contact {
  position: fixed;
  z-index: 999;
  bottom: 0.5rem;
  right: 5px;
  width: .6rem;
  height: .6rem;
}
.yj-contact img {
  width: 100%;
}
.yj-header + .yj-footer + .yj-content {
  padding-top: 0.65rem;
  padding-bottom: 0.9rem;
}
.yj-header + .yj-content {
  padding-top: 0.65rem;
}
.yj-footer + .yj-content {
  padding-bottom: 0.9rem;
}
/* 宫格css */
.yj-gird-container {
  position: relative;
  background-color: #fff;
  overflow-x: hidden;
}
.yj-gird-container .layui-icon {
  font-size: 0.32rem;
  color: #2f87eb;
}
.yj-gird-container .layui-row {
  text-align: center;
}
.yj-gird-container .layui-row [class^="layui-col"] a {
  padding: .15rem 0;
  display: block;
  font-size: 0.18666667rem;
}
.yj-gird-container .layui-row [class^="layui-col"] .yj-gird-icon {
  display: inline-block;
  margin-bottom: .5em;
}
.yj-gird-container .layui-row [class^="layui-col"]:nth-last-of-type(1) a {
  right: -1px;
}
/* 消息通知 */
.yj-message {
  position: relative;
}
.yj-message-dot,
.yj-message-num {
  display: inline-block;
  position: absolute;
  left: .52rem;
  top: 0;
}
.yj-message-num {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  background-color: #fb0914;
  color: #fff;
  border-radius: 7px;
}
/* banner */
.swiper-container {
  width: 100%;
  height: 66.66666vw;
  overflow: hidden;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  bottom: 20px !important;
}
.yj-index-meau {
  position: relative;
  z-index: 9;
  padding: 0 0.1rem;
  background-color: #fff;
}
.yj-index-meau .yj-gird-container {
  position: relative;
  top: -1em;
  /* -moz-box-shadow: 2px 2px 3px @color,-2px -2px 2px @color;
       -webkit-box-shadow: 2px 2px 2px @color,-2px -2px 2px @color; */
  box-shadow: 0 2px 3px rgba(206, 206, 206, 0.75), 2px 0 3px rgba(206, 206, 206, 0.75), -2px 0 3px rgba(206, 206, 206, 0.75), 0 -2px 3px rgba(206, 206, 206, 0.75);
  border-radius: 5px;
}
.yj-index-meau .yj-gird-container .layui-col-xs3 a {
  padding: .2rem 0 !important;
}
.yj-index-ad-title {
  padding: 0 0.1rem 0.5em;
  font-size: 0.2rem;
}
.yj-index-ad-title .yj-right {
  font-size: 0.16rem;
}
.yj-index-ad-pic {
  border-radius: 7px;
}
.yj-title-icon {
  height: 1.2em;
  margin-right: 1em;
}
.yj-line-title {
  font-size: 0.21333333rem;
  padding-top: 1.2em;
  height: 1.2em;
  text-align: center;
  overflow: hidden;
}
.yj-line-title-container {
  display: inline-block;
  padding-left: 5em;
  padding-right: 5em;
  border-top: 1px solid #2f87eb;
  height: 1em;
}
.yj-line-title-container .layui-badge-dot {
  background-color: #2f87eb;
}
.yj-line-title-container .yj-title-icon {
  margin-right: .2em;
}
.yj-line-title-text {
  position: relative;
  z-index: 8;
  top: -0.85em;
}
.yj-line-title-text font {
  margin: 0 1em;
}
.yj-line-title-text .layui-badge-dot {
  width: .09rem;
  height: .09rem;
}
.yj-title1 {
  border-left: 4px solid #2f87eb;
  padding: 0 .5em;
  height: .35rem;
  line-height: .35rem;
  font-size: 0.2rem;
}
.yj-title1 .yj-right {
  color: #999;
  font-size: 0.16rem;
}
.yj-goods-list {
  padding: 0 0.05rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.yj-goods-item {
  float: left;
  width: -moz-calc(50vw -  0.05rem );
  width: -webkit-calc(50vw -  0.05rem );
  width: calc(50vw -  0.05rem );
  padding: 0 0.05rem 0.1rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.yj-goods-item .yj-goods-item-pic {
  width: 100%;
  height: -moz-calc(50vw -  0.05rem );
  height: -webkit-calc(50vw -  0.05rem );
  height: calc(50vw -  0.05rem );
  text-align: center;
  line-height: -moz-calc(50vw -  0.05rem );
  line-height: -webkit-calc(50vw -  0.05rem );
  line-height: calc(50vw -  0.05rem );
}
.yj-goods-item .yj-goods-item-pic img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.yj-goods-item a {
  display: block;
}
.yj-goods-item-title {
  font-size: 0.16rem;
  margin: .8em 1em;
  height: 3em;
  line-height: 1.5em;
}
.yj-goods-list-footer {
  padding: 5px 1em;
}
.yj-goods-price {
  color: #fb0914;
  font-size: 0.2rem;
}
/* 商品列表页 search */
.yj-search {
  padding: .09rem .2rem;
  background-color: #2f87eb;
}
.yj-search-container {
  width: 100%;
  height: 0.3rem;
  padding: 0.06rem 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-search-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 .1rem 0 .5rem;
  border: none;
  border-right: 1px solid #ccc;
  background: url(../images/search.png) no-repeat 0.15rem center;
  background-size: 0.25rem;
  border-radius: 0;
}
.yj-search-btn {
  width: .8rem;
  height: 100%;
  border: none;
  color: #333;
  text-align: center;
  background: transparent;
}
/* 商品排序 title */
.yj-sort {
  width: 100%;
  padding: .09rem .2rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}
.yj-sort-container {
  height: 0.3rem;
  padding: 0.06rem 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-sort .yj-screen-btn {
  width: .8rem;
}
.yj-sort .yj-screen-btn img {
  width: 1.5em;
}
.yj-sort-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #808080;
}
.yj-sort-main a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-sort-main a.yj-sort-order span {
  display: inline-block;
  padding-right: 1.5em;
  background: url('../images/sort1.png') no-repeat right;
  background-size: .8em;
}
.yj-sort-main a.yj-sort-order span.yj-active {
  background-image: url('../images/sort2.png');
}
.yj-fixedTop-main.yj-fixed-top {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0.65rem;
  width: 100%;
}
/* 透明大背景 */
.yj-mask-body {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 0);
}
.yj-mask-main {
  position: fixed;
  z-index: 1002;
  right: -67vw;
  top: 0;
  width: 66vw;
  height: 100%;
  background-color: #fff;
  transition: right .4s;
  -moz-transition: right .4s;
  /* Firefox 4 */
  -webkit-transition: right .4s;
  /* Safari and Chrome */
  -o-transition: right .4s;
  /* Opera */
}
.yj-mask-main.top {
  top: auto;
  left: 0;
  right: 0;
  bottom: -71vh;
  width: 100%;
  max-height: 65vh;
  transition: bottom .4s;
  -moz-transition: bottom .4s;
  /* Firefox 4 */
  -webkit-transition: bottom .4s;
  /* Safari and Chrome */
  -o-transition: bottom .4s;
  /* Opera */
}
.yj-mask-main.in {
  right: 0;
  transition: right .4s;
  -moz-transition: right .4s;
  /* Firefox 4 */
  -webkit-transition: right .4s;
  /* Safari and Chrome */
  -o-transition: right .4s;
  /* Opera */
}
.yj-mask-main.top.in {
  bottom: 0;
  transition: bottom .4s;
  -moz-transition: bottom .4s;
  /* Firefox 4 */
  -webkit-transition: bottom .4s;
  /* Safari and Chrome */
  -o-transition: bottom .4s;
  /* Opera */
}
.yj-mask-body.fade {
  display: block;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
}
.yj-type-title {
  font-size: 0.21333333rem;
}
.yj-type-item li {
  float: left;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0.1rem 0 0 0.1rem;
}
.yj-screen-submit {
  margin-top: 1rem;
  text-align: center;
}
/* 商品详情页 */
.yj-goods-detail-box {
  padding-top: 0.65rem;
}
.yj-goods-attr-title {
  position: fixed;
  top: 0.65rem;
  left: 0;
  width: 100%;
  z-index: 99;
  /* -moz-box-shadow: 0 -2px 5px rgba(194,218,247,.75);
       -webkit-box-shadow: 0 -2px 5px rgba(194,218,247,.75); */
  box-shadow: 0 2px 5px rgba(194, 218, 247, 0.75);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  background-color: #fff;
}
.yj-goods-attr-title a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.yj-goods-attr-title a span {
  height: .55rem;
  line-height: .55rem;
  display: inline-block;
  border-bottom: .03rem solid transparent;
}
.yj-goods-attr-title a.yj-active {
  color: #2f87eb;
}
.yj-goods-attr-title a.yj-active span {
  border-bottom: 0.03rem solid #2f87eb;
}
/* 商品图片 */
.yj-goods-pic {
  height: 100vw;
}
.yj-goods {
  /* &-basicinfo{
    background-color: #fff;
  } */
}
.yj-goods-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.1rem;
}
.yj-goods-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.2rem;
  padding-right: .15rem;
}
.yj-goods-share {
  width: .8rem;
  text-align: center;
  font-size: 0.16rem;
  color: #999;
}
.yj-goods-share img {
  width: 1.5em;
  margin-bottom: 8px;
}
.yj-goods-attr1 {
  margin-top: -0.65rem;
}
.yj-goods-type {
  margin-top: .06rem;
  font-size: 0.16rem;
  padding: 0 .3em;
  border: 0.5px solid #fb0914;
  margin-left: 0.1rem;
}
.yj-goods-deposit {
  color: #666;
  padding-bottom: 5px;
}
.yj-goods-guarantee {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  background-color: #f7f7f7;
}
.yj-goods-guarantee span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-goods-guarantee span img {
  width: 1em;
  margin-right: .5em;
}
.yj-goods-detail-goodsdetail img {
  max-width: 100% !important;
}
.yj-goods-meau {
  line-height: 0.65rem;
}
.yj-goodsattr-select {
  border-top-right-radius: .15rem;
  border-top-left-radius: .15rem;
}
.yj-goodsattr-select .yj-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.32rem;
  color: #999;
}
.yj-goodsattr-selectbox {
  padding: 0.2rem;
  /* height: 90%;
    overflow: auto; */
}
.yj-goodsattr-checkedinfo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-goodsattr-txt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 0.2rem;
}
.yj-goodsattr-thumbnail {
  margin-top: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.1rem;
  overflow: hidden;
}
.yj-goodsattr-info {
  max-height: 41vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.yj-input-list {
  margin: 0.1rem 0.1rem 0 0;
  display: inline-block;
}
.yj-input-list label {
  display: inline-block;
  height: .4rem;
  line-height: .4rem;
  padding: 0 .2rem;
  border-radius: 3px;
  background-color: #f1f1f1;
}
.yj-input-list.yj-active label {
  background-color: #2f87eb;
  color: #fff;
}
.yj-input-list input:checked + label {
  background-color: #2f87eb;
  color: #fff;
}
.yj-goodsattr-info .yj-input-submit {
  position: absolute;
  width: 100%;
  height: 0.65rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: .5rem;
}
.yj-goods-parameter-item {
  position: relative;
  height: 0.65rem;
  line-height: 0.65rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  color: #666;
}
.yj-goods-parameter-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}
.yj-goods-parameter-item-big {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.yj-goods-parameter-title {
  display: inline-block;
  width: 5em;
  text-align: center;
  color: #333;
  padding-right: 1em;
}
.yj-goods-footer {
  position: fixed;
  z-index: 1010;
  width: 100%;
  height: 0.65rem;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  /* -moz-box-shadow: 0 -2px 5px rgba(194,218,247,.75);
       -webkit-box-shadow: 0 -2px 5px rgba(194,218,247,.75); */
  box-shadow: 0 -2px 5px rgba(194, 218, 247, 0.75);
}
.yj-goods-footer-index {
  padding-top: .05rem;
  width: 1.05rem;
  text-align: center;
  font-size: 0.16rem;
}
.yj-goods-footer-buy {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: inline-block;
}
.yj-goods-footer-buy-btn {
  display: block;
  text-align: center;
  height: 0.65rem;
  width: 100%;
  line-height: 0.65rem;
  background-color: #2f87eb;
  color: #fff;
  border: none;
}
.yj-footer-btn {
  height: 100%;
  width: 100%;
  background-color: #2f87eb;
  color: #fff;
  border: none;
}
.yj-pay-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-pay-footer-money {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: left;
  line-height: 0.7rem;
  padding-left: 0.1rem;
}
.yj-pay-footer .yj-pay-confirm-btn {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  height:.7rem;
  line-height:.7rem;
}
.yj-address-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.yj-address-icon,
.yj-address-more {
  text-align: center;
  width: .7rem;
}
.yj-address-icon img {
  width: .25rem;
}
.yj-address-main {
  -webkit-box-flex: 4.5;
  -webkit-flex: 4.5;
  -ms-flex: 4.5;
  flex: 4.5;
}
.yj-address-note {
  color: #999;
  margin-top: -0.1rem;
}
.yj-goods-thumbnail {
  width: 1.32rem;
  height: 1.32rem;
  border: 1px solid #ddd;
  border-radius: 0.1rem;
  overflow: hidden;
}
.yj-goods-thumbnail img {
  width: 100%;
  height: 100%;
}
.yj-order-basicinfo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-confirm-goods-textinfo {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 0.2rem;
}
.yj-confirm-goods-textinfo .yj-goods-price {
  margin: 0.1rem 0;
}
.yj-confirm-info {
  padding-bottom: 0.7rem;
}
/* 普通列表css */
.yj-list-item {
  position: relative;
  height: 0.65rem;
  line-height: 0.65rem;
  overflow: hidden;
}
.yj-list-item:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: #f4f4f4;
}
.yj-list-item-icon {
  height: 1.2em;
  margin-right: 0.1rem;
}
.yj-user-header {
  position: relative;
  padding: .3rem 0 .6rem;
  text-align: center;
  background: #1eb1fc url("../images/user-bg.png") no-repeat bottom;
  background-size: 100% auto;
}
.yj-user-set {
  position: absolute;
  right: .25rem;
  top: .2rem;
  color: #fff !important;
}
.yj-user-set .layui-icon {
  font-size: 0.29333333rem;
}
.yj-user-photo {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.yj-user-name {
  margin-top: 0.1rem;
  color: #fff;
}
.yj-user-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-user-row-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.yj-user-row-item a {
  display: block;
  padding: .3rem 0;
}
.yj-user-row-icon {
  display: inline-block;
  width: .67rem;
  height: .67rem;
}
/* 按钮 */
.yj-btn {
  border: 1px solid #ddd;
  background-color: transparent;
}
.yj-btn-sm {
  font-size: 0.16rem;
  line-height: 1em;
  padding: 5px 8px;
  border-radius: 1em;
}
.yj-btn-line-main {
  border-color: #2f87eb;
  color: #2f87eb;
}
.yj-order-header {
  padding: .5rem .4rem;
  font-size: 0.21333333rem;
}
.yj-order-orderinfo {
  font-size: 0.16rem;
  line-height: 2em;
}
.yj-order-orderinfo-price {
  line-height: 2em;
  color: #333;
  font-size: 0.18666667rem;
}
.yj-order-orderinfo-countprice {
  color: #000;
}
.yj-order-time {
  margin-bottom: 0.65rem;
}
.yj-order-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.yj-order-footer p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-recharge {
  border-radius: 0.15rem;
}
.yj-recharge-title {
  font-size: 0.2rem;
}
.yj-recharge-item {
  padding: 0.2rem;
  border: 1px solid #2f87eb;
  border-radius: 0.1rem;
  position: relative;
  overflow: hidden;
}
.yj-recharge-discount {
  position: absolute;
  top: -1.3em;
  left: -3.3em;
  display: inline-block;
  font-size: 0.16rem;
  width: 3.5em;
  padding: 2em 2em .3em;
  text-align: center;
  background-color: #2f87eb;
  color: #fff;
  /* Rotate div */
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* Internet Explorer */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}
.yj-recharge-money li.yj-active .yj-recharge-item {
  background-color: #2f87eb;
  color: #fff;
}
.yj-recharge-money li.yj-active .yj-recharge-discount {
  background-color: #fff;
  color: #2f87eb;
}
.yj-recharge-type {
  border: 1px solid #dedede;
}
.yj-active .yj-recharge-type {
  border: 1px solid #2f87eb;
}
.yj-recharge-btn {
  margin-top: 1rem;
  padding: 0 0.2rem;
}
.yj-record-title {
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
}
.yj-record-type {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.yj-record-type a {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.yj-record-type a span {
  display: inline-block;
  height: .45rem;
  line-height: .5rem;
  border-bottom: 2px solid transparent;
}
.yj-record-type a.yj-active span {
  color: #2f87eb;
  border-color: #2f87eb;
}
.yj-record-list .layui-colla-item {
  padding-bottom: 0.1rem;
}
.yj-record-list .layui-colla-title {
  height: auto;
  line-height: 1.5em;
  background-color: #fff;
  padding: 0.1rem 0 0;
  font-size: 0.18666667rem;
}
.yj-record-list .layui-colla-content {
  margin-top: 0.1rem;
  border-radius: 5px;
  background-color: #f1f1f1;
  border-top: none;
}
.yj-record-list .layui-colla-icon {
  display: none;
}
/*选择按钮样式*/
.y-radio:checked,
.y-radio.y-checked {
  border: solid 2px #bebebe;
  background-color: #b30000;
}
.y-radio {
  width: 17px;
  height: 17px;
  position: relative;
  background: #ffffff;
  border: solid 1px #dddddd;
  border-radius: 50%;
  display: table;
  float: left;
  -webkit-appearance: none;
  transition: background-color ease 0.1s;
}
.yj-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*清除浏览器 Select后面的小箭头*/
  background: url(../images/drop.png) 95% center no-repeat;
  background-size: 1em;
}
/*单选按钮,复选按钮*/
.yj-radio:checked {
  width: 16px !important;
  height: 16px !important;
  background-color: #fff;
  border: solid 1px #2f87eb;
  text-align: center;
}
.yj-radio {
  width: 16px !important;
  height: 16px !important;
  position: relative;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 1px solid #999;
}
.yj-radio:checked:before {
  width: 8px !important;
  height: 8px !important;
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 8px;
  content: "";
  background-color: #2f87eb;
  border-radius: 50%;
  background-size: 10px;
}
.yj-popup-pay-type label {
  width: 80%;
  display: inline-block;
}
.yj-popup-pay-type .yj-pay-type-icon {
  width: .25rem;
  margin-right: .7em;
}
/* 普通表单 简洁样式1 */
.yj-form1-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-form1-item input,
.yj-form1-item button {
  border: none;
  height: 100%;
  background-color: transparent;
}
.yj-form1-item input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-form1-item button {
  color: #999;
}
.yj-form1-label {
  display: inline-block;
  width: 1rem;
  text-align: justify;
  text-justify: distribute-all-lines;
}
.yj-form1-verif_code {
  width: 8em;
}
/* 普通表单2 */
.yj-form2-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-form2-label {
  display: inline-block;
  width: 5em;
}
.yj-form2-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.yj-form2-container-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-form2-container textarea {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-height: 3em;
}
.yj-form2-container-icon {
  width: 1.2em;
}
.yj-form2 input,
.yj-form2 button,
.yj-form2 textarea {
  border: none;
  background: transparent;
}
.yj-footer-btn1 {
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.65rem;
  line-height: 0.65rem;
  text-align: center;
  border: none;
  background-color: #2f87eb !important;
  color: #fff !important;
}
.yj-mar-footer {
  margin-bottom: 0.7rem;
}
.yj-label-btn .layui-btn {
  background-color: transparent;
  color: #333;
  border: 1px solid #ddd;
}
.yj-label-btn.yj-active .layui-btn {
  border-color: #2f87eb;
  color: #2f87eb;
}
.yj-label-btn input:checked + .layui-btn {
  border-color: #2f87eb;
  color: #2f87eb;
}
.yj-workOrder-form {
  border-radius: 5px;
}
.yj-workOrder-form-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-workOrder-form-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-workOrder-form-right {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
.yj-workOrder-form .yj-select {
  width: 100%;
  height: .55rem;
  border: 1px solid #ddd;
}
.yj-workOrder-form textarea {
  width: 100%;
  min-width: 3rem;
  border: none;
}
/* 登录页面 */
.yj-bg-all {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: -webkit-linear-gradient(150deg, #1ebafc, #1e43fc);
  background-image: -o-linear-gradient(150deg, #1ebafc, #1e43fc);
  background-image: linear-gradient(150deg, #1ebafc, #1e43fc);
  color: #fff;
  background-color: #1e43fc;
}
.yj-login {
  /* width: 100%;
  min-height: 100%; */
  color: #fff;
}
.yj-login-logo {
  width: 1.5rem;
  padding: 0.93rem 0 0.53rem;
}
.yj-login-form {
  color: #fff;
}
.yj-login-form-item {
  border: 1px solid #fff;
  height: .6rem;
  line-height: .6rem;
  padding: 0 .3rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.6rem;
  overflow: hidden;
}
.yj-login-form-label img {
  width: 1.2em;
}
.yj-login-form input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.yj-login-btn {
  margin-top: .6rem;
}
.yj-login2-form .yj-login2-link {
  font-size: 0.18666667rem;
}
.yj-login2-form-item {
  border-color: #ddd;
}
.yj-about-bg {
  position: absolute;
  left: 0;
  top: 0.7rem;
  bottom: .05rem;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.yj-about-container {
  width: 100%;
 /* min-height: 90%;*/
  margin-bottom: .8rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  border-radius: 0.13rem;
}
.yj-about-logo {
  padding: .4rem 0 .3rem;
  height: 2.35rem;
}
.yj-about-main {
  padding: 0 .26rem .26rem;
  line-height: 2em;
}
.yj-opinion-textarea textarea {
  border: none;
  width: 100%;
}
.yj-remind-pic {
  padding-top: .66rem;
  height: 2.35rem;
}
.yj-remind-main {
  padding: 0 1rem;
}
/* 筛选 */
.yj-screen {
  position: absolute;
  top: 0.65rem;
  left: 0;
  bottom: 0;
  z-index: 99;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0.65rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.yj-screen-header {
  height: 0.65rem;
  line-height: 0.65rem;
  background-color: #f1f1f1;
}
.yj-screen-box {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.yj-screen-item .yj-input-list label {
  border-radius: 2px;
  padding: 0 0.18rem;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 5em;
  text-align: center;
}
.yj-screen-item .yj-input-list.yj-active label {
  background-color: #2f87eb;
  color: #fff;
  border-color: #2f87eb;
}
.yj-screen-item .yj-input-list input:checked + label {
  background-color: #2f87eb;
  color: #fff;
  border-color: #2f87eb;
}
.yj-screen-button {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.65rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.yj-screen-button button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
}
.yj-mask-main .yj-screen {
  font-size: 0.16rem;
  top: 0;
}
/* 评价标签 */
.yj-eval-label .yj-input-list {
  padding: 0.1rem 0.1rem 0 0;
}
.yj-eval-label label {
  border-radius: 0.2rem;
  background-color: #fff;
  font-size: 0.16rem;
}
.yj-eval-textarea textarea {
  width: 100%;
  height: 8em;
  border: none;
}
/* 购买月卡 */
.yj-monthCard-main .yj-input-list label {
  padding: 0;
  height: .45rem;
  line-height: .45rem;
  width: 1.25rem;
  text-align: center;
  font-size: 0.18666667rem;
}
.yj-monthCard .yj-line-title-container {
  border-top-color: #ddd;
}
.yj-btn-small {
  height: .5rem;
  line-height: .5rem;
  padding: 0 .3rem;
  border: none;
  border-radius: 5px;
}
.yj-set-user-photo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3.5em;
  align-items: center;
}
.yj-set-user-photo-title {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.yj-set-user-photo-pic {
  width: 3.5em;
  height: 3.5em;
}
.yj-set-user-photo-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#goods_list{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.yj-border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

.yj-border-main {
    border: 1px solid #ddd;
    border-color: #2f87eb;
}

/* 
@media only screen and (device-width: 375px) and (device-height: 812px) and(-webkit-device-pixel-ratio: 3) {

  //增加头部适配层

   .yj-html-top,.yj-content{
    height: 100%;
    box-sizing: border-box;
    padding-top: @iphoneX_header;
    &:before {
      content: '';
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      height: @iphoneX_header;
      background-color: #333;
      color: #fff;
    }
  }
  //增加底部适配层

  .yj-html-bottom,.yj-content {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: @iphoneX_footer;
    &:after {
      content: '';
      z-index: 9999;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: @iphoneX_footer;
      background: #fff;
    }
  }

    .yj-footer {
      bottom: @iphoneX_footer !important;
    }
    .yj-content{
      padding-bottom: @iphoneX_footer !important;
    }

  .yj-header{
    background-color: #333 !important;
    color: #fff;
    top: @iphoneX_header !important;
  }
  .yj-header+ .yj-footer +.yj-content{
    padding-top: ~'calc('@iphoneX_header ~'+'  @yj_header_h ~')' !important;
    padding-bottom: ~'calc('@iphoneX_footer ~'+' @yj_footer_h ~'+ .2rem)' !important;
  }
   .yj-header+.yj-content{
    padding-top: ~'calc('@iphoneX_header ~'+'  @yj_header_h ~')' !important;
  }
  .yj-footer+.yj-content{
    padding-bottom: ~'calc('@iphoneX_footer ~'+' @yj_footer_h ~'+ .2rem)' !important;
  }
  
  .yj-screen{
    top: ~'calc('@iphoneX_header ~'+'@yj_header_h ~')' !important;
  }
  .yj-screen-button{
    bottom: @iphoneX_footer;
  }
  .yj-screen-box{
    height: ~'calc(100% -'@iphoneX_footer  ~')';
  }
  .yj-goods-attr-title{
    top: ~'calc('@iphoneX_header ~'+'@yj_header_h ~')';
  }
 
  .yj-footer-btn1{
    bottom: @iphoneX_footer;
  }
  .yj-order-time{
    margin-bottom: .8rem;
  }
  .yj-about-bg{
    top: ~'calc('@iphoneX_header ~'+'@yj_header_h ~')';
    bottom: @iphoneX_footer;
  }
  .yj-contact{
    bottom: calc( 34px + .5rem );
  }
  .yj-goods-footer{
    bottom: @iphoneX_footer;
  }
} */
