#wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.8rem;
    bottom: .8rem;
    overflow: hidden;
    z-index: 1;
}
/*@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    #wrapper {
        width: 100%;
        position: absolute;
        left: 0;
        top: 2.4rem;
        bottom: 1.4rem;
        overflow: hidden;
        z-index: 1;
    }
}*/
#wrapper li{
	
}
.more{
	height: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
}
.pull_icon{
	width: 25px;
	height: 25px;
	background-image: url('../images/pull.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	transition: all .5s;
}
.more span{
	padding-left: .1rem;
}

.more .flip{
	transform: rotate(180deg);
}
.loading{
	background-image: url('../images/loading.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
}
.more .loading{
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}